#dir-tree {
    color: white;
    background-color: var(--bg-dark);
    border-right: 2px solid var(--border-color);
    overflow-y: auto;
    overflow-x: hidden;
    resize: horizontal;
    min-width: 7rem;
    max-width: 33vw;
    padding: 0.5rem;

    & li span {
        display: inline-block;
        white-space: nowrap;
    }

    & .tj_description {
        width: 100%;
    }

    & .tj_description:hover {
        background-color: gray;
    }

    & .tj_leaf {
        margin: 0;
        padding-left: 29px;
    }
}

.content {
    display: flex;
    height: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: hidden;
}

.editor-container {
    flex-grow: 1;
    width: 40vw;
    overflow: auto;
    resize: horizontal;
    background-color: var(--bg-light);
    border-right: 2px solid var(--border-color);
    display: flex;
    flex-direction: column;
    position: relative;
}

.toolbar {
    padding: 0.5rem;
    border-bottom: 2px solid var(--border-color);
    display: flex;
    gap: 0.5rem;
    align-items: center;
    flex-wrap: wrap;
}

#editor {
    flex-grow: 1;
}

.hints-container {
    flex-grow: 1;
    color: white;
    background-color: var(--bg-dark);
    overflow: auto;
    width: 25vw;

    & > div:first-child {
        padding: 0.5rem;
    }
}

/* TODO: make toolbar sticky */
/* .hints {
    overflow: auto;
} */

.no-proof-selected {
    text-align: center;
}

.notification {
    display: none;
    position: absolute;
    top: 3.5rem;
    left: 45%;
    right: 45%;
    text-align: center;
    z-index: 5;
    color: white;
    background-color: var(--bg-dark);
    padding: 0.5rem;
    border-radius: 4px;
}

.notification.show-success {
    display: block;
    background-color: var(--success-color);
}

.notification.show-error {
    display: block;
    background-color: var(--danger-color);
}

.sel-proof {
    flex-grow: 1;
    min-width: 200px;
    max-width: 25%;
}

#sel-proof {
    display: none;
}

.contextmenu {
    margin: 0;
    color: white;
    background-color: var(--bg-dark);
    border: 2px solid var(--border-color);
    border-radius: 2px;
    padding: 0;
    min-width: 200px;
}

.contextmenu:focus-visible {
    outline: none;
}

.contextmenu ul {
    margin: 0;
    padding: 0;
}

.contextmenu li {
    list-style-type: none;
}

.contextmenu li:hover {
    background-color: var(--bg-light);
}

.contextmenu button {
    background-color: transparent;
    border: none;
    color: white;
    width: 100%;
    height: 100%;
    text-align: left;
    padding: 0.5rem 0.5rem 0.5rem 1.5rem;
    font-family: var(--font);
    font-size: 1rem;
}

.contextmenu button:focus {
    outline: none;
}

#modal-confirm-delete-entry .code {
    font-family: var(--code-font);
}

.loading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90%;
}

.status {
    font-size: 0.75rem;
    margin: 1rem 0.5rem 1rem 0.5rem;
}

.hint-section {
    border-bottom: 2px solid var(--border-color);

    & > * {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 1.25rem;
        margin-bottom: 1.25rem;
    }

    & a {
        color: var(--link-color);
        text-decoration: none;
    }

    & a:hover {
        text-decoration: underline;
    }
}

.hint-section:last-child {
    border-bottom: none;
}

.table-item {
    line-break: anywhere;
    text-align: left;

    & > div {
        font-family: var(--code-font);
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        flex-grow: 1;
    }
}

.table-item-empty.danger {
    flex-direction: column;

    & > h4 {
        margin: 0;
        margin-top: 0.5rem;
        margin-bottom: 1rem;
    }

    & > p {
        margin: 0;
        overflow-wrap: anywhere;
    }
}

.callgraphs {
    & > a {
        display: block;
        width: fit-content;
        max-width: 100%;
    }

    & > h4 {
        margin-bottom: 0.5rem;
    }

    & img {
        margin-bottom: 1rem;
        display: block;
        max-width: 100%;
        border: 2px solid var(--border-color);
    }
}

.tab-list {
    background-color: var(--bg-dark);
    display: flex;
    align-items: center;
    overflow: auto hidden;
    height: 3rem;
}

.tab-list::-webkit-scrollbar {
    display: none;
}

.tab {
    color: white;
    font-size: 1rem;
    border-right: 2px solid var(--border-color);
    border-bottom: 2px solid var(--border-color);
    padding: 0.5rem 1rem 0.5rem 1rem;
    flex-shrink: 0; /* force overflow */
    height: calc(100% - 1rem - 2px);
    display: flex;
    align-items: center;

    & span {
        pointer-events: none;
    }

    & .close {
        font-family: var(--font);
        font-size: 0.75rem;
        color: white;
        background-color: inherit;
        border: none;
        border-radius: 2px;
        outline: none;
        padding: 0.25rem;
        margin-left: 0.25rem;
    }

    & .close:hover {
        background-color: gray;
        cursor: pointer;
    }
}

.tab-fill {
    border-bottom: 2px solid var(--border-color);
    height: calc(100% - 2px);
    flex-grow: 1;
}

.tab:hover {
    background-color: var(--bg-light);
    cursor: pointer;
}

.tab.active {
    background-color: var(--bg-light);
    border-bottom: 2px solid var(--bg-light);
}

.tab.unsaved > span::after {
    content: "*";
    color: white;
}

.hint-heading {
    margin-bottom: 0.5rem;
}

.hint-text {
    margin-top: 0.5rem;
}

.italic {
    font-style: italic;
}

.info-icon-col {
    width: 1rem;
    text-overflow: initial !important;
    text-align: center;
}

.icon {
    cursor: pointer;
}

/* TODO: add icon hove effect? */

.tooltip {
    background-color: var(--bg-dark);
    color: white;
    border: 2px solid var(--border-color);
    overflow-wrap: anywhere;
    max-width: 250px;
    pointer-events: none;

    & > * {
        margin: 0;
    }

    & > h4 {
        margin-bottom: 0.5rem;
    }
}

.tooltip:focus-visible {
    outline: none;
}
