#dir-tree {
    color: white;
    background-color: var(--bg-dark);
    border-right: 2px solid var(--border-color);
    overflow-y: auto;
    overflow-x: hidden;
    resize: horizontal;
    min-width: 7rem;
    max-width: 33vw;
    padding: 0.5rem;

    & li span {
        display: inline-block;
        white-space: nowrap;
    }

    & .tj_description {
        width: 100%;
    }

    & .tj_description:hover {
        background-color: gray;
    }

    & .tj_leaf {
        margin: 0;
        padding-left: 29px;
    }
}

.content {
    display: flex;
    height: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
}

.editor-container {
    flex-grow: 1;
    width: 40vw;
    overflow: auto;
    resize: horizontal;
    background-color: var(--bg-light);
    border-right: 2px solid var(--border-color);
    display: flex;
    flex-direction: column;
}

.toolbar {
    padding: 0.5rem;
    border-bottom: 2px solid var(--border-color);
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

#editor {
    height: 100%;
}

.hints-container {
    flex-grow: 1;
    color: white;
    background-color: var(--bg-dark);
    overflow: auto;
}

.hints {
    padding: 0.5rem;
}

.notification {
    display: none;
    color: white;
    background-color: var(--bg-dark);
    padding: 0.5rem;
    border-radius: 4px;
}

.notification.show-success {
    display: inline;
    background-color: var(--success-color);
}

.notification.show-error {
    display: inline;
    background-color: var(--danger-color);
}

.sel-proof {
    flex-grow: 1;
    min-width: 200px;
    max-width: 25%;
}

#sel-proof {
    display: none;
}

.contextmenu {
    margin: 0;
    color: white;
    background-color: var(--bg-dark);
    border: 2px solid var(--border-color);
    border-radius: 2px;
    padding: 0;
    min-width: 200px;
}

.contextmenu:focus-visible {
    outline: none;
}

.contextmenu ul {
    margin: 0;
    padding: 0;
}

.contextmenu li {
    list-style-type: none;
}

.contextmenu li:hover {
    background-color: var(--bg-light);
}

.contextmenu button {
    background-color: transparent;
    border: none;
    color: white;
    width: 100%;
    height: 100%;
    text-align: left;
    padding: 0.5rem 0.5rem 0.5rem 1.5rem;
    font-family: var(--font);
    font-size: 1rem;
}

.contextmenu button:focus {
    outline: none;
}

#modal-confirm-delete-entry .code {
    font-family: "Courier New", Courier, monospace;
}
