.content {
    display: flex;
    min-height: calc(100% - 6.1rem);
    height: calc(100% - 6.1rem);
    max-height: calc(100% - 6.1rem);
    flex-direction: row;
    flex-wrap: nowrap;
}

.proofs {
    color: white;
    background-color: var(--bg-dark);
    border-right: 2px solid var(--border-color);
    overflow-y: auto;
    overflow-x: hidden;
    width: 40vw;
}

.toolbar {
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    border-bottom: 2px solid var(--border-color);
    box-shadow: 0 -5px 10px 5px black;
    position: relative;
    z-index: 1;
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.task {
    color: white;
    background-color: var(--bg-light);
    width: 60vw;
    display: flex;
    flex-direction: column;
}

.task-overview {
    padding: 1rem;
    height: 70%;
    overflow: auto;
    display: flex;
    flex-direction: column;

    & h1 {
        text-align: center;
    }
}

.console {
    color: white;
    height: 30%;
    padding: 1rem;
    overflow-y: auto;
    overflow-x: hidden;
    resize: none;
    background-color: var(--bg-dark);
    border: none;
    border-top: 2px solid var(--border-color);
    font-family: var(--code-font);
    box-shadow: inset 0px 10px 10px -10px black;
}

#modal-add-proof {
    & .list {
        margin-bottom: 1rem;
        height: 450px;
    }

    & .list-item {
        border-left: 2px solid var(--border-color);
        border-right: 2px solid var(--border-color);
    }

    & .list-item:first-child {
        border-top: 2px solid var(--border-color);
    }
}

.list-item {
    & > div:last-child {
        display: flex;
        gap: 0.5rem;
        justify-content: flex-end;
        flex-wrap: wrap;
    }
}

.proof-name {
    margin: 0;
    margin-bottom: 0.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

.file-path {
    font-family: var(--code-font);
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 1rem;
}

.stats {
    overflow: hidden;
    text-overflow: ellipsis;

    & > div {
        margin-bottom: 0.25rem;

        & > span {
            display: inline-block;
            width: 100px;
        }
    }
}

.center-block {
    margin: auto;
    width: min-content;
}

#modal-git-pull {
    & h2 {
        text-align: center;
    }

    & p {
        text-align: center;
    }

    & .status {
        font-size: 0.75rem;
    }
}
