html {
    height: 100%;
    font-family: Helvetica, Arial, sans-serif;
    --bg-dark: rgba(24, 24, 24, 255);
    --bg-light: rgba(31, 31, 31, 255);
    --border-color: rgba(38, 38, 38, 255);
    --text-color: white;
    --danger-color: rgba(152, 70, 70, 255);
    --success-color: rgba(97, 152, 70, 255);
}

body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.header {
    color: var(--text-color);
    background-color: var(--bg-dark);
    border-bottom: 2px solid var(--border-color);
    max-height: 5rem;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    gap: 3rem;

    & h1 {
        padding: 0.5rem;
        margin-left: 0.5rem;
    }

    & a {
        padding: 1rem;
        text-decoration: none;
        color: white;
        border: none;
        margin-right: 0.5rem;
    }

    & a:hover {
        border: 1px solid gray;
        border-radius: 2px;
    }
}

.button {
    padding: 0.5rem;
    color: white;
    background-color: var(--bg-dark);
    border: 2px solid var(--border-color);
    border-radius: 2px;
    font-size: 1rem;
    outline: none;
}

.button:focus {
    border-color: gray;
}

.button:hover {
    border-color: gray;
}

.button.danger {
    background-color: var(--danger-color);
}

.button.success {
    background-color: var(--success-color);
}

.modal {
    color: white;
    background-color: var(--bg-dark);
    border: 2px solid var(--border-color);
    border-radius: 2px;
}

.modal::backdrop {
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-form {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    justify-content: space-between;

    & input {
        padding: 0.5rem;
        border: 2px solid var(--border-color);
        border-radius: 2px;
        background-color: var(--bg-light);
        color: white;
        margin-top: 0.5rem;
        margin-bottom: 1rem;
    }

    & input:focus {
        outline: none;
        border-color: gray;
    }
}

.modal-form.modal-form-wide {
    width: 33vw;
}

.modal-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

.modal-text {
    margin: 1rem 0.5rem 1rem 0.5rem;
}
