html {
    --font: Helvetica, Arial, sans-serif;
    --code-font: "Courier New", Courier, monospace;
    --text-color: white;
    --bg-dark: rgba(24, 24, 24, 255);
    --bg-light: rgba(31, 31, 31, 255);
    --border-color: rgba(50, 50, 50, 255);
    --danger-color: rgba(152, 70, 70, 255);
    --success-color: rgba(97, 152, 70, 255);
    --warning-color: rgba(255, 190, 70, 255);
    --info-color: rgba(87, 189, 189, 255);
    --link-color: rgba(100, 100, 204, 255);
    height: 100%;
    font-family: var(--font);
}

body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.header {
    color: var(--text-color);
    background-color: var(--bg-dark);
    border-bottom: 2px solid var(--border-color);
    height: 5rem;
    min-height: 5rem;
    max-height: 5rem;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    gap: 3rem;

    & h1 {
        padding: 0.5rem;
        margin-left: 0.5rem;
    }

    & a {
        padding: 1rem;
        text-decoration: none;
        color: white;
        border: none;
        margin-right: 0.5rem;
        border: 2px solid transparent;
        border-radius: 2px;
    }

    & a:hover {
        border: 2px solid gray;
    }
}

.button {
    padding: 0.5rem;
    color: white;
    background-color: var(--bg-dark);
    border: 2px solid var(--border-color);
    border-radius: 2px;
    font-size: 1rem;
    outline: none;
    text-decoration: none;
}

.button:focus {
    border-color: gray;
}

.button:hover {
    border-color: gray;
    cursor: pointer;
}

.button[disabled] {
    color: gray;
    cursor: initial;
}

.button[disabled]:hover {
    border-color: var(--border-color);
}

.button[disabled]:focus {
    border-color: var(--border-color);
}

.danger {
    color: white !important;
    background-color: var(--danger-color) !important;
}

.success {
    color: white !important;
    background-color: var(--success-color) !important;
}

.modal {
    color: white;
    background-color: var(--bg-dark);
    border: 2px solid var(--border-color);
    border-radius: 2px;
}

.modal::backdrop {
    background-color: rgba(0, 0, 0, 0.7);
}

.modal:focus-visible {
    outline: none;
}

.modal-form {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    justify-content: space-between;

    & input {
        padding: 0.5rem;
        border: 2px solid var(--border-color);
        border-radius: 2px;
        background-color: var(--bg-light);
        color: white;
        margin-top: 0.5rem;
        margin-bottom: 1rem;
    }

    & input:focus {
        outline: none;
        border-color: gray;
    }

    & input:hover {
        outline: none;
        border-color: gray;
    }
}

.modal-form.modal-form-33 {
    width: 33vw;
}

.modal-form.modal-form-25 {
    width: 25vw;
}

.modal-form.modal-form-10 {
    width: 10vw;
}

.modal-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

.modal-text {
    margin: 1rem 0.5rem 1rem 0.5rem;
}

.list {
    margin: 0;
    padding: 0;
}

.list-item {
    padding: 1rem 1.5rem 1rem 1.5rem;
    border-bottom: 2px solid var(--border-color);
    display: flex;
    justify-content: space-between;
    align-items: center;

    & h2 {
        margin: 0;
        margin-bottom: 0.5rem;
    }

    & button {
        margin-left: 0.5rem;
    }
}

.list-item:nth-child(odd) {
    background-color: var(--bg-light);
}

.list-item:nth-child(even) {
    background-color: var(--bg-dark);
}

.list-item-empty {
    padding: 1rem 1.5rem 1rem 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table {
    margin: auto;
    padding: 0;
}

.table-item {
    border-bottom: 2px solid var(--border-color);
    border-left: 2px solid var(--border-color);
    border-right: 2px solid var(--border-color);
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    text-align: center;

    & > * {
        margin: 0;
        padding: 0.5rem;
        border-right: 2px solid var(--border-color);
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        gap: 0.5rem;
    }

    & > a {
        color: white;
        text-decoration: none;
    }

    & > a:hover {
        text-decoration: underline;
    }

    & > *:last-child {
        border-right: none;
    }
}

.table-item:nth-child(odd) {
    background-color: var(--bg-dark);
}

.table-item:nth-child(even) {
    background-color: var(--bg-light);
}

.table-item:first-child {
    padding: 0;
    background-color: var(--bg-dark);
    border-top: 2px solid var(--border-color);

    & h4 {
        margin: 0;
        text-align: center;
        font-family: var(--font);
    }
}

.table-item-empty {
    padding: 1rem 1.5rem 1rem 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-dark);
    border: 2px solid var(--border-color);
    border-top: none;
}

.width-20 {
    width: 20%;
}

.width-25 {
    width: 25%;
}

.width-30 {
    width: 30%;
}

.width-40 {
    width: 40%;
}

.width-50 {
    width: 50%;
}

.width-60 {
    width: 60%;
}

.width-70 {
    width: 70%;
}

.width-75 {
    width: 75%;
}

.width-80 {
    width: 80%;
}

.width-100 {
    width: 100%;
}

.width-auto {
    width: auto;
}

.margin-0 {
    margin: 0 !important;
}

.pagination {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.hidden {
    display: none !important;
}

.alert {
    padding: 0.5rem;
    border-radius: 4px;
    margin: 0 0.5rem 0 0.5rem;
}

/* .alert.inline {
    display: inline;
    height: 100%;
} */

.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
}
.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* NiceSelect2 Style override  */

.nice-select {
    color: white;
    background-color: var(--bg-dark);
    border: 2px solid var(--border-color);
    border-radius: 2px;
    font-size: 1rem;
    outline: none;
    float: none;
}

.nice-select:focus {
    border-color: gray;
}

.nice-select:hover {
    border-color: gray;
    cursor: pointer;
}

.nice-select:after {
    border-color: white;
}

.nice-select .nice-select-dropdown {
    background-color: var(--bg-dark);
    border: 2px solid var(--border-color);
    border-radius: 2px;
    margin-top: 2px;
}

.nice-select.open .nice-select-dropdown {
    width: 100%;
    transform: scale(1) translateY(0) translateX(-2px);
}

.nice-select .nice-select-search-box {
    padding: 0;
}

.nice-select .nice-select-search {
    color: white;
    background-color: var(--bg-dark);
    border: none;
    border-bottom: 2px solid var(--border-color);
    border-radius: 0px;
    margin: 0;
    padding: 0.5rem 1rem 0.5rem 1rem;
    font-family: var(--font);
}

.nice-select .nice-select-search::placeholder {
    color: gray;
}

.nice-select .list {
    border-radius: 0px;
}

.nice-select .list::-webkit-scrollbar {
    width: 0.5rem;
}

.nice-select .option {
    border-radius: 0px;
    padding: 0 1rem 0 1rem;
}

.nice-select .option:first-child {
    border-top: none;
}

.nice-select .option:last-child {
    border-bottom: none;
}

.nice-select .option.selected {
    font-weight: bold;
}

.nice-select .option:hover,
.nice-select .option.selected.focus,
.nice-select .option.focus {
    background-color: var(--bg-light);
}
