.header {
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.content {
    display: flex;
    flex-grow: 1;
}

#result-frame {
    border: none;
    width: 100%;
}
