::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.25rem;
}

::-webkit-scrollbar-track {
    background-color: var(--bg-dark);
}

::-webkit-scrollbar-thumb {
    background-color: rgba(121, 121, 121, 0.4);
    border-radius: 2px;
}
