.header {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.content {
    display: flex;
    flex-grow: 1;
    position: relative;
    overflow: auto;
}

#viewerContainer {
    width: 100%;
    position: absolute;
}
