<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title></title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <script src="{{ url_for('static', path='tree-js/tree.min.js') }}"></script>
        <link rel="stylesheet" href="{{ url_for('static', path='editor.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', path='tree-js/treejs.min.css') }}" />
    </head>
    <body>
        <header>
            <nav>
                <a href="{{ url_for('home') }}">Home</a>
            </nav>
        </header>

        <aside id="dir-tree"></aside>
        <main>
            <!-- TODO: add header to main -->
            <div id="editor"></div>
            <div id="hints">
                <h1>Hints</h1>
                <ul>
                    <li>Ctrl + S to save</li>
                </ul>
            </div>
            <!-- <button onclick="save_file(event)">Save</button> -->
        </main>
        <!-- <footer>
            <p>Output Console here</p>
        </footer> -->

        <script src="{{ url_for('static', path='monaco-editor/min/vs/loader.js') }}"></script>
        <script>
            let editor;
            let has_unsaved_changes = false;

            window.addEventListener("beforeunload", (event) => {
                if (has_unsaved_changes) {
                    event.preventDefault();
                    event.returnValue = true;
                }
            });

            require.config({ paths: { vs: "{{ url_for('static', path='monaco-editor/min/vs') }}" } });
            require(["vs/editor/editor.main"], async function () {
                editor = monaco.editor.create(document.getElementById("editor"), {
                    theme: "vs-dark",
                    value: "",
                    language: "plaintext",
                });

                editor.addCommand(monaco.KeyMod.CtrlCmd | monaco.KeyCode.KEY_S, function (event) {
                    // TODO: fix this
                    console.log(event);
                    console.log("save");
                });

                editor.onDidChangeModelContent(function (event) {
                    has_unsaved_changes ||= true;
                });
            });

            async function onChanged(path) {
                const url = "{{ url_for('download_file', path='') }}" + path;

                const code = await fetch(url).then((response) => response.text());
                let model = monaco.editor.getModel(url);

                if (!model) {
                    const ext = "." + path.split(".").pop();
                    const language =
                        monaco.languages.getLanguages().find((lang) => lang.extensions?.includes(ext))?.id ??
                        "plaintext";
                    model = monaco.editor.createModel(code, language, url);
                }

                editor.setModel(model);
            }

            async function save_file(event) {
                const model = editor.getModel();

                const response = await fetch(model.uri, {
                    method: "POST",
                    body: model.getValue(),
                });

                if (response.ok) {
                    alert("Saved");
                    has_unsaved_changes = false;
                } else {
                    alert("Error");
                }
            }

            async function build_directory_tree() {
                const root = new TreeNode("root");
                const entries = await fetch("{{ url_for('list_directory_tree') }}").then((res) => res.json());

                for (const entry of entries) {
                    const parts = entry.path.split("/");
                    const name = parts.pop();
                    entry.toString = () => name;

                    let parent = root;
                    for (const part of parts) {
                        const child = parent.getChildren().find((child) => child.getUserObject().toString() == part);

                        if (child) {
                            parent = child;
                        } else {
                            throw new Error("Invalid directory tree");
                        }
                    }

                    const node = new TreeNode(entry, {
                        allowChildren: entry.type == "dir",
                        forceParent: entry.type == "dir",
                        expanded: false,
                    });

                    if (entry.type == "file") {
                        node.on("select", async (node) => {
                            await onChanged(node.getUserObject().path);
                        });
                    }

                    if (entry.type == "dir") {
                        node.on("contextmenu", async (event, node) => {
                            console.log("contextmenu", event, node);
                        });
                    }

                    parent.addChild(node);
                }

                return new TreeView(root, "#dir-tree", { show_root: false });
            }

            build_directory_tree();
        </script>
    </body>
</html>
